<a href="https://colab.research.google.com/github/ELBrown11/CodingDojoPortfolioProjects/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#mount data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [32]:
#import pandas library
import pandas as pd
filename = '/content/drive/MyDrive/Coding Dojo Bootcamp/sales_predictions.csv'

In [33]:
#view first 5 rows of data
sales_data = pd.read_csv(filename)
sales_data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [8]:
#data exploration of possible missing data 
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

* `Item_Weight` and `Outlet_Size` columns have missing values

In [9]:
sales_data.shape

(8523, 12)

* there are 8523 rows and 12 columns

In [10]:
#data where there's missing data in Item_Weight column
missing_item_weight = sales_data['Item_Weight'].isnull()
sales_data.loc[missing_item_weight,:]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [11]:
#data where there's missing data in Outlet_Size column
missing_outlet_size = sales_data['Outlet_Size'].isnull()
sales_data.loc[missing_outlet_size,:]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

* thinking about using...
  * impute mean for `Item_Weight`
  * impute most frequent for `Outlet_Size`

In [12]:
#imputing missing values in item_weight with mean of item_weight column data
sales_data['Item_Weight'] = sales_data['Item_Weight'].fillna(sales_data.Item_Weight.mean())
#checking to see if data was filled
sales_data.Item_Weight.isnull().sum()

0

In [40]:
#count of missing data in Outlet_Size column
sales_data['Outlet_Size'].isnull().sum()

2410

In [41]:
sales_data['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

* most of the data in the `Outlet_Size` column is of the Medium type, could impute nulls with Medium?

In [42]:
#imputing missing values in outlet_size with mode of outlet_size column data
sales_data['Outlet_Size'] = sales_data['Outlet_Size'].fillna('Medium')
sales_data.Outlet_Size.isnull().sum()

0

In [18]:
#summary statistics foe each numerical column
sales_data.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  8523.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.226124  ...        1706.499616
min       4.555000  ...          33.290000
25%       9.310000  ...         834.247400
50%      12.857645  ...        1794.331000
75%      16.000000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [19]:
#exploration of the types of values in Item Fat Content column
sales_data.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

* actual fat content types are only Low Fat or Regular
  * LF = Low Fat
  * reg = Regular
  * low fat = Low Fat

In [25]:
#replaces abbreviated terms with full phrases
sales_data['Item_Fat_Content'].replace({"reg":"Regular","low fat":"Low Fat", "Low Far":"Low Fat"}, inplace=True)
sales_data.Item_Fat_Content.value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [27]:
#explore the types of values in the Item Type column
sales_data['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

* all of these seem to be actually distinct

In [29]:
#exploration of types of values in the Outlet_Type column
sales_data['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

* these types seem to tbe distinct, no need for replacement of data

In [31]:
#exploration of types of values in the Outlet_Location_Type column
sales_data['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

* these types seem to be distinct, no need for replacement of data